body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 2rem;
    color: #333;
    background-color: #e8f4ff;
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    transition: transform 0.3s ease;
}

.title h1:hover {
    transform: scale(1.05);
}

.content {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.graph {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#emotion-chart {
    width: 100%;
    max-width: 800px;
    height: 400px;
}

.paragraph {
    width: 80%; /* 컨테이너 너비의 80% 차지 */
    margin: 0 auto; /* 가운데 정렬 */
    padding: 20px; /* 내부 여백 */
    border: 2px solid #e0e0e0; /* 박스 테두리 */
    border-radius: 8px; /* 박스 모서리 둥글게 */
    background-color: #f9f9f9; /* 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    margin-bottom: 20px; /* 아래쪽 여백 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.paragraph span {
    display: block; /* 별도 행에 표시 */
    font-weight: bold;
    margin-bottom: 10px; /* 아래쪽 여백 */
    font-size: 1.2rem;
}

.paragraph p {
    line-height: 1.6;
    color: #555;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.link-box {
    background-color: #e0e0e0;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.link-box a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.link-box:hover {
    background-color: #d4d4d4;
}

.project-description {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
